.toggleButton button{
  padding: 1rem 3rem;
  border: none;
  border-radius: 0;
  background-color: #a6d2df ;
  outline: none;
  color: #fff;
}
.toggleButton button:hover{
  background-color: #4a96ad ;
}
.customLink, .customLink:hover{
  color: #fff;
  text-decoration: none;
}
