.showDataPage form{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.showDataPage form input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}
.showDataPage form button{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}